DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres_password
DB_NAME=cd_db

PGADMIN_DEFAULT_EMAIL=admin@yandex.ru
PGADMIN_DEFAULT_PASSWORD=admin123

REDIS_HOST=redis
REDIS_PORT=6379

REDIS_PASSWORD=abcd